body {
  background-color: #1a1c20;
}

h1,h2 {
  text-align: center;
  margin: auto;
  font-family: 'Play', sans-serif;
  font-size: 96px;
  text-shadow: 0 0 30px white;
  color: #f6f7d4;
}

h2{
  font-family: 'Varela Round', sans-serif;
  color: #f0a500;
}

.container {
  margin: auto;
  width: 30%;
  margin-top: 120px;
}

.row {
  margin: auto;
  border-color: #f6f7d4;
  border-style: none solid;
  border-width: 10px;
}

.col-4 {
  border-width: 10px;
  height: 138px;
  border-color: #f6f7d4;
  border-style: solid;
}

.top {
  border-color: #f6f7d4;
  border-style: solid;
  border-width: 20px 10px 10px 10px;
}

.top-text{
  position: relative;
  bottom:10px;
}

.bottom {
  border-color: #f6f7d4;
  border-bottom-style: solid;
  border-width: 10px 10px 20px 10px;
}

.bottom-text{
  position: relative;
  top:10px;
}
